
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.close-button-wrapper {
  background-color: blue;
  height: 30px;
  display: flex;
  justify-content: flex-end; 
  padding-right: 10px; 
}

.close-button {
  background-color: red;
  width: 20px;
  height: 20px;
}
  .modal-content {
    height: 550px;
    width: 550px;
    background-color:#c0c0c0;
    border-radius: 10px;
    border: 2px solid #000;
    font-family: 'Arial', sans-serif; 
    font-size: 12px; 
  }
.modal-background.open,
.modal-content.open {
  display: flex; 
  justify-content: center;
  align-items: center;
  
  animation-name: scale-up-center;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
 
}
@keyframes scale-up-center {
			
    0% {
        transform:scale(.2);
    }
    100% {
        transform:scale(1);
    }
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}
.modal-content input[type="email"],
.modal-content input[type="text"],
.modal-content textarea {
    width: calc(100% - 40px); 
    height: 40px; 
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: black;
}

.modal-content textarea {
    height: 150px;
}

.modal-content button {
    padding: 10px 20px; 
    font-size: 14px;
}

  .email-box .modal-content button {
    padding: 5px 10px;
    font-family: 'Arial', sans-serif;
    font-size: 12px; 
    border: 2px solid #000;
    background-color: #c0c0c0;
    color: #000; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
textarea {
    height: 150px;
}

button:hover {
    background-color: #45a049;
}
  
  .modal-content.closing {
    animation-name: scale-down-center;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes scale-down-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }

  .sendButton {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 14px;
  }
  