/* Contacto.css */
.contacto-padre {
    height: 100%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.024), rgba(255, 255, 255, 0.314)), url('../../assets/paper1.jpg');
 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.contactBox {
    background: grey;
    box-shadow: -11px 8px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 8px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 8px 5px 1px rgba(0,0,0,0.75);
    border: 4px ridge #979696;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}

textarea {
    height: 150px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
