.proyectos-padre {
  height: 100%;
  padding: 20px;
  display: flex;
  background: #979696;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.project-folder{
  margin: 25px;
}
.project-folder img {
  width: 100px;
  height: 100px;
}

.project-folder h3 {
  margin: 5px 0;
}

.project-folder p {
  display: none;
}

.project-folder:hover p {
  display: block;
}