.proyectos-padre {
  height: 100%;
  padding: 20px;
  display: flex;
  background: #979696;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.project-folder{
  margin: 25px;
  position: relative;
  z-index: 1;
}
.project-folder img {
  width: 100px;
  height: 100px;
}

.project-folder h3 {
  margin: 5px 0;
}

.project-folder .info-container {
  display: none; 
  font-size: 1.2rem;
  top: -1px;
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  background: rgb(224, 223, 223);
  border: 3px solid black;
  width: 150px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 55555; 
}

.project-folder:hover .info-container {
  display: block;
}
