.proyectos-padre {
  height: 100%;
  padding: 20px;
  display: flex;
  background: #979696;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
}
.project-folder {
  margin: 45px;
  position: relative;
  z-index: 1;
}
.project-folder img {
  width: 100px;
  height: 100px;
}

.project-folder h3 {
  margin: 5px 0;
}

.project-folder:hover {
  z-index: 2;
}
.project-folder .info-container {
  width: 350px;
  height: 450px;
  padding: 10px;
  margin: 80px;
  display: none;
  font-size: 1.2rem;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(224, 223, 223);
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.project-folder:hover .info-container {
  display: block;
  z-index: 1000;
}
.info-container img {
  width: 100%;
  height: 300px;
}
